###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/

###> symfony/webpack-encore-pack ###
/node_modules/
/public/uploads/
npm-debug.log
yarn-error.log

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml

###> symfony/web-server-bundle ###
/.web-server-pid

###> symfony/webpack-encore-bundle ###
/node_modules/
npm-debug.log
yarn-error.log

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

### Exclure les fichiers et dossiers spécifiques à l'environnement de développement ###
.idea/      # Dossier de configuration PhpStorm/WebStorm
.DS_Store   # Fichier système macOS

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
