parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Migrations/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$id \(int\|null\) is never assigned int#'
        - '#Property [a-zA-Z0-9\\_]+::\$id is never written, only read#'
        - '#If condition is always true#' 