<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    {# Common CSS #}
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/bootstrap-admin.min.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin.css">
    <link rel="stylesheet" href="{{ app.request.getBaseURL() }}/css/style-admin2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    {% block additional_styles %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% block javascripts %}
    <script>
        window.print();
    </script>
    {% endblock %}
</body>
</html> 