{% extends 'auth_base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
<div class="pcoded-content" style="margin-top: 50px;">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div style="text-align:center; margin: auto;">
                <h3 style="font-weight: 500; color: #00AEEF">La page est introuvable</h3>
                <p>Oups ! La page que vous recherchez n'existe pas !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


