{% extends 'auth_base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
<div class="pcoded-content" style="margin-top: 50px;">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <div class="page-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div style="text-align:center; margin: auto;">
                <h3 style="font-weight: 500; color: #ff0000; margin-top: 20px; margin-bottom: 30px;">Vous n'avez pas accès à cette page.</h3>
                <p>Vous ne pouvez pas accéder à cette page.</p>
              </div>
              <div class="sub mb-20 clearfix"><br>
                <div style="text-align: center;">
                  <a href="{{ path('app_admin_dashboard') }}" class="btn btn-primary" style="font-size: 13px;">Revenir sur le tableau de bord</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


